body {
    background-color: #073b07;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    color: white;
}
#random {
    background-color: #8f2828;
    padding: 2em;
    font-size: 2em;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
a {
    padding: 1em;
    color: white;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    margin: 1em;
}